<footer class="border-top sticky">
    <div class="f-info">
        <div class="f-info-socials">
            
            <div class="fa-brands">
                <i class="fa-brands fa-square-instagram"></i>
            </div>
            <div class="fa-brands ">
                <i class="fa-brands fa-square-facebook"></i>
            </div>
            <div class="fa-brands fa-square-linkedin">
                <i class="fa-brands fa-linkedin"></i>
            </div>
        </div>
        <div class="copy-right">
            &copy; trekstay
        </div>
        <div class="f-info-links">
            <a href="/trekstay/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>